{% extends 'base.html' %}
{% block content %}
<h1 id="shadow">Последние 10 мнений за все время:</h1>
<div class="container text-center">
    {% for opinion in opinions %}
    <img width="400" height="300" src='static\img\downloads\{{opinion.id}}.jpg' width="400" height="300" align="left" vspace="5" hspace="5"> 
    <h2>{{ opinion.name }}</h2> <br>
    {{ opinion.about }} <br>
    {{ opinion.date }} <br>
    {% if current_user.id == opinion.user.id %}
      <a class="navbar-brand" href="/my_page"> Вы </a> <br>
    {% else %}
      <a class="navbar-brand" href="/another_page-{{ opinion.user.id }}"> {{ opinion.user }} </a> <br>
    {% endif %}
    {% for i in range(opinion.raiting) %}
      <img src="static\img\star.png"> 
    {% endfor %}
  </p>
  <br><br><br><br><br><br>
    {% endfor %}
</div>
{% endblock %}