{% extends 'base.html' %}
{% block content %}
<h1>Последние 5 мнений за все время:</h1>
<div class="container text-center">
    {% for opinion in opinions %}
    <img width="400" height="300" src='static\img\{{opinion.id}}.jpg' width="400" height="300" loading="lazy" align="left" vspace="5" hspace="5"> 
    <h3>{{ opinion.name }}</h3> <br>
    {{ opinion.about }} <br>
    {{ opinion.date }} <br>
    <a class="navbar-brand" href="/my_page"> {{ opinion.user }} </a> <br>
    {% for i in range(opinion.raiting) %}
      <img src="static\img\star.png"> 
    {% endfor %}
  </p>
  <br><br><br><br><br><br>
    {% endfor %}
</div>
{% endblock %}